@import https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700; /* Import a Google font */
x-screen { /* This is the element which contains the lines */
  font-weight: bold;
  font-family: "Anonymous Pro", "Roboto Mono", "Noto Mono", monospace !important;
  background: radial-gradient(#666, #444, #222, #000, #000);
}
x-row { /* The elements for each line; they directly contain the text */
  box-sizing: border-box;
}
body {
  color: rgba(180, 180, 180, 0.8);
  text-shadow: 0px 0px 0.5px;
  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}
::-webkit-scrollbar {
  opacity: 0;
}
.cursor-node {
  opacity: 0.6 !important;
}
